/*--------------fonts--------------------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/*--------------Common--------------------------------------------------*/

*{
    margin: 0;
    background-color:  #5CDB95 ;
    color:  #05386B; 
}

.wrapper {
    max-width: calc(800px - (30px * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: 30px;
    padding-left: 30px;
    position: relative;
}

/*------------------header-------------------------------------------*/

.site-header {
    border-bottom: 1px solid  #05386B;
    min-height: 56px;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
}

h2{
    font-size: 150%;
    line-height: 56px;
    float: left;
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 600;
    letter-spacing: -1px;
}

.site-nav {
    float: right;
    line-height: 56px;
    font-size: 17px;
}

.site-nav a{
    word-spacing: 15px;
    text-decoration: none;
    color: inherit;
    letter-spacing: 1px;
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 300;

}

.site-nav .selected{
   font-weight: bold;
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 600;
}

/*------------------Main Body-------------------------------------------*/

.profilepic {
    float: right;
    margin-left: 30px;
    box-shadow:10px 15px;
    
}
img {
    border-radius: 10px;
    max-width: 100%;
    vertical-align: middle;
    height: 280px;
    
}

.home{
    margin-top: 25px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    margin-bottom:5%;
}

.resume{
   font-size:100%;
    font-style: italic;
    font-weight: 600;
   border-radius:5px;
    border:1px solid #05386B;
    padding: 8px 40px;
}

.resume:hover{
    color:  #5CDB95;
    background-color:  #05386B;
}

/*------------------Footer-------------------------------------------*/

.site-footer {
    border-top: 1px solid  #05386B;
    padding: 20px 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: #828282;
    margin-left: -15px;
}

.social-links {
    font-size: 15px;
    line-height: 30px;
}
.footer-col-1 {
    width: -webkit-calc(33% - (30px / 2));
    width: calc(33% - (30px / 2));
}
.footer-col {
    float: left;
    margin-bottom: 20px;
    padding-left: 15px;
}

.social-links h4{
    margin-bottom: 5px;
    font-size: 18px;
    margin-top: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}

.social-links span.wrap-link {
    width: 45%;
    float: left;
    display:  block;
    margin-right: 8px;
    text-decoration: none;
    min-width: 7em;
}

.footer-col-2 {
    width: -webkit-calc(33% - (30px / 2));
    width: calc(33% - (30px / 2));
}

.site-footer a{
    text-decoration: none;
    margin-left: 8px;
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 100;
}

.social-links a:hover{
    color:  #5CDB95;
    border: 1px solid  #05386B;
    background-color:  #05386B;
    border-radius: 1%;
    padding: 2%;
    
}

/*-------theme switch btn----------------------------- */
.switch {
  background-color: inherit;
  color: inherit;
  padding: 2px 5px;
  font-size: 15px;
  border: none ;
}
.switch:hover{
    color: #5CDB95;
    background-color: #05386B;
}
/*-----responsive media queries------------------------------------------*/

@media screen and (max-width: 600px){
    .wrapper{
        margin-bottom: 100px;
    }

    .site-nav {
        margin-right: 25%; 
        font-size: 90%;
        margin-top: -4%;
    }
    img{
        margin-right: 10%;
        margin-bottom: 15%;
    }
    .site-header h2{
       display: block;
    }
}

@media screen and (max-width: 480px){
    .site-header h2{
        margin-left: 22.5%;
        font-size: 130%;
    }
    .wrapper{
        margin-bottom: 100px;
    }
    .site-nav {
        display:block;
        margin-right: 27%; 
        font-size: 90%;
        margin-top: -4%;
    }
    img{
        margin-right: 20%;
        margin-bottom: 15%;
    }
    .home p{
      float: none; 
    }
    .site-footer{
        margin-top: -30%;
    }
}












